@page
@model ContentSecurityPolicyModel

<div class="mt-5">
    Image loaded from Google:
    <br />
    <img class="mt-5" src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" />
</div>


<script>
    alert('This is from an inline script.');
</script>
