@page
@model XFrameOptionsLegitModel

@{ Layout = null; }

<button id="facebook-like-button">
    Click here to like on Facebook
</button>

<script src="~/pages/XFrameOptionsFacebookLike.js" asp-append-version="true"></script>