@page
@model XFrameOptionsTrickModel
@{
    ViewData["Title"] = "XFrameOptionsTrick";
}

<div class="mt-5">
    <button id="transfer-money-button" class="btn btn-primary">
        <span class="glyphicon glyphicon-file"></span> Click here to download coupon code
    </button>
</div>

<iframe class="xfo-iframe" src="~/Examples/XFrameOptionsFacebookLike"></iframe>